@(evaluation:models.core.IdeaUser)(implicit user:User)
@import core.ResourceType


<div class="ideas-table portlet portlet-green">
    <div class="portlet-heading">
        <div class="portlet-title">
            <h4>Suggest resource(s) (e.g article,researcher, URL)</h4>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="col-md-7">Description</th>
                        <th class="col-md-2">Type</th>
                        <th class="col-md-1">Link</th>
                        <th class="col-md-2 popularity">Popularity</th>
                    </tr>
                </thead>
                <tbody>

                    @for(ideaResource <- evaluation.idea.resources){
                        <tr>
                            <td class="col-md-7">@ideaResource.resource.title</td>
                            <td class="col-md-2">@ideaResource.resource.resourceType.title</td>
                            <td class="col-md-1">@ideaResource.resource.url.map{ url => <a href="@url">Link</a> }.getOrElse{ (No link) }</td>
                            @views.html.utils.resourceLike(ideaResource = ideaResource)
                        </tr>
                    }

                </tbody>
            </table>
            <form class="add-resource-form" action="@routes.EvaluateIdeas.addResource" method="POST">

                <input class="evaluation-id" type="hidden" name="evaluationId" value="@evaluation.id">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Add New</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="col-md-6">
                                <div class="form-group">
                                    <input name="description" class="form-control" type="text" placeholder="Resource description">
                                </div>
                            </td>

                            <td class="col-md-2">
                                <select name="resourceTypeId" class="form-control">

                                    @for( resourceType <- ResourceType.findAll){
                                        <option value="@resourceType.id">@resourceType.title</option>
                                    }

                                </select>
                            </td>

                            <td class="col-md-3">
                                <div class="form-group">
                                    <input name="link" class="form-control" type="text" placeholder="Link(optional)">
                                </div>
                            </td>
                            <td class="col-md-1 popularity">
                                <button type="submit" class="submit-add-resources-button btn btn-green"><i class="fa fa-plus"></i> Add</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
