@()

@import views.html._

@pageMainContainer("Submit Ideas"){

    @pageTags.submitIdea()

}{
    <!-- PAGE LEVEL PLUGIN STYLES -->
    <link href="@routes.Assets.at("stylesheets/plugins/summernote/summernote.css")" rel="stylesheet">
    <link href="@routes.Assets.at("stylesheets/plugins/summernote/summernote-bs3.css")" rel="stylesheet">
}{
    <script src="@routes.Assets.at("javascripts/plugins/summernote/summernote.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/submitIdeas.js")"></script>
}