@(searchResult:core.Interfaces.Searchable, url:Option[String])(implicit user:User, request:RequestHeader)
@import models.core.Idea

<div class="search-item">

    <span class="sr-name"><a href="@url">@searchResult.searchTitle</a></span>
    <br>

    <span class="text-green">@url<i class="fa fa-caret-down"></i></span>
    <br>@searchResult.searchDescription
    <ul class="user-info-list">
        <li><i class="fa fa-user fa-muted"></i> Author: @searchResult.searchAuthors.map(_.fullName)</li>
        <li><i class="fa fa-calendar fa-muted"></i> Added On: @Application.defaultDateFormat.format(searchResult.searchCreationDate)</li>
    </ul>
</div>