@(passwordChangeForm:Form[securesocial.controllers.PasswordChange.ChangeInfo])(implicit request: RequestHeader, lang: Lang)
@import securesocial.core.providers.UsernamePasswordProvider
@import securesocial.core.IdentityProvider
@import play.api.Play
@import helper._
@import views.html._
@implicitFieldConstructor = @{ FieldConstructor(views.html.barnabasTextField.f) }

@main("Password Change"){

    <div class="container">

        @if(!request.flash.get("error").isEmpty){
            <div class="message-container">
                <div class="message-content">
                    @request.flash.get("error").map { msg =>
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <strong>Error:</strong> @msg
                        </div>
                    }
                </div>
            </div>
        }

        @if( request.flash.get("success").isDefined ) {
            <div class="message-container">
                <div class="message-content">
                    @request.flash.get("error").map { msg =>
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <strong>Success:</strong> @request.flash.get("success").get
                        </div>
                    }
                </div>
            </div>
            @authFormContainer("Password Changed Successfully"){
                <a class="btn" href="@securesocial.controllers.ProviderController.toUrl(request.session)">@Messages("securesocial.passwordChange.okButton")</a>
            }
    } else {
        @authFormContainer("Password Change"){
            <form action="@securesocial.core.providers.utils.RoutesHelper.handlePasswordChange.absoluteURL(IdentityProvider.sslEnabled)" method="POST" >
                <fieldset>

                    @helper.inputPassword(
                        passwordChangeForm("currentPassword"),
                        'placeholder -> Messages("securesocial.passwordChange.currentPassword"),
                        'class -> "form-control",
                        '_label -> null,
                        'type -> "password"
                    )

                    @helper.inputPassword(
                        passwordChangeForm("newPassword.password1"),
                        'placeholder ->Messages("securesocial.passwordChange.newPassword1"),
                        'class -> "form-control",
                        '_label -> null,
                        'type -> "password"
                    )

                    @helper.inputPassword(
                        passwordChangeForm("newPassword.password2"),
                        '_error -> passwordChangeForm.error("newPassword"),
                        'placeholder -> Messages("securesocial.passwordChange.newPassword2"),
                        'class -> "form-control",
                        '_label -> null,
                        'type -> "password"
                    )

                    <input type="submit" class="btn btn-lg btn-green btn-block" value="@Messages("securesocial.passwordChange.changeButton")">

                    <a class="btn btn-lg btn-block" href="@securesocial.controllers.ProviderController.toUrl(request.session)">@Messages("securesocial.signup.cancel")</a>

                </fieldset>
            </form>
        }
    }
</div>

}{
    <link href="@routes.Assets.at("stylesheets/plugins/bootstrap-social/bootstrap-social.css")" rel="stylesheet">
}{ }