@(signUpForm:Form[securesocial.controllers.Registration.RegistrationInfo], token: String)(implicit request: RequestHeader, lang: Lang)
@import securesocial.core.providers.UsernamePasswordProvider
@import securesocial.core.IdentityProvider
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(securesocial.views.html.inputFieldConstructor.f) }


    @request.flash.get("error").map { msg =>
        <div class="alert alert-error">
            @msg
        </div>
    }



@import play.api.Play
@import securesocial.core.IdentityProvider

@main("Login"){

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-banner text-center">
                    <h1><i class="fa fa-gears"></i> @Play.current.configuration.getString("application.name")</h1>
                </div>
                <div class="portlet portlet-green">
                    <div class="portlet-heading login-heading">
                        <div class="portlet-title">
                            <h4><strong>Login to @Play.current.configuration.getString("application.name")!</strong></h4>
                        </div>
                        <div class="portlet-widgets">
                            <a href="@securesocial.core.providers.utils.RoutesHelper.startSignUp()"><button class="btn btn-white btn-xs">Sign Up</button></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="portlet-body">
                        <form action="@securesocial.core.providers.utils.RoutesHelper.handleSignUp(token).absoluteURL(IdentityProvider.sslEnabled)"  method="POST" >
                            <fieldset>

                                @helper.inputText(
                                    signUpForm("firstName"),
                                    'placeholder -> Messages("securesocial.signup.firstName"),
                                    'class -> "form-control",
                                    '_label -> null
                                )

                                @helper.inputText(
                                    signUpForm("lastName"),
                                    'placeholder -> Messages("securesocial.signup.lastName"),
                                    'class -> "form-control",
                                    '_label -> null
                                )

                                @helper.inputPassword(
                                    signUpForm("password.password1"),
                                    'placeholder -> Messages("securesocial.signup.password1"),
                                    'class -> "form-control",
                                    '_label -> null
                                )

                                @helper.inputPassword(
                                    signUpForm("password.password2"),
                                    'placeholder -> Messages("securesocial.signup.password2"),
                                    '_error -> signUpForm.error("password"),
                                    'class -> "form-control",
                                    '_label -> null
                                )

                                <div class="form-actions">
                                    <button type="submit" class="btn btn-primary">@Messages("securesocial.signup.createAccount")</button>
                                    <a class="btn" href="@securesocial.core.providers.utils.RoutesHelper.login()">@Messages("securesocial.signup.cancel")</a>
                                </div>
                            </fieldset>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

}{
    <link href="@routes.Assets.at("stylesheets/plugins/bootstrap-social/bootstrap-social.css")" rel="stylesheet">
}