@(startForm:Form[String])(implicit request: RequestHeader, lang: Lang)
@import helper._
@import securesocial.core.IdentityProvider
@import play.api.Play
@implicitFieldConstructor = @{ FieldConstructor(securesocial.views.html.inputFieldConstructor.f) }

@main("Reset Password"){
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-banner text-center">
                    <h1><i class="fa fa-gears"></i> @Play.current.configuration.getString("application.name")</h1>
                </div>
                <div class="portlet portlet-green">
                    <div class="portlet-heading login-heading">
                        <div class="portlet-title">
                            <h4><strong>Reset Password</strong></h4>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="portlet-body">

                        <form accept-charset="UTF-8" role="form" action="@securesocial.core.providers.utils.RoutesHelper.handleStartResetPassword().absoluteURL(IdentityProvider.sslEnabled)" method="POST">

                            <fieldset>

                                <div class="form-group">
                                    <input class="form-control" placeholder="E-mail" name="email" type="text">
                                </div>

                                <input type="submit" class="btn btn-lg btn-green btn-block" value="@Messages("securesocial.password.reset")">

                                <a class="btn btn-lg btn-block" href="@securesocial.core.providers.utils.RoutesHelper.login()">@Messages("securesocial.signup.cancel")</a>

                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

}{
    <link href="@routes.Assets.at("stylesheets/plugins/bootstrap-social/bootstrap-social.css")" rel="stylesheet">
}