@(startForm:Form[String])(implicit request: RequestHeader, lang: Lang)
@import helper._
@import securesocial.core.IdentityProvider
@import play.api.Play
@implicitFieldConstructor = @{ FieldConstructor(views.html.barnabasInputTextField.f) }


@main("Sign up"){
    <div class="container">


        @if(!request.flash.get("error").isEmpty){
            <div class="message-container">
                <div class="message-content">
                    @request.flash.get("error").map { msg =>
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <strong>Error:</strong> @msg
                        </div>
                    }
                </div>
            </div>
        }
            @views.html.authFormContainer("Sign up"){
                <form accept-charset="UTF-8" role="form" action="@securesocial.core.providers.utils.RoutesHelper.handleStartSignUp().absoluteURL(IdentityProvider.sslEnabled)" method="POST">

                    <fieldset>
                        @helper.inputText(
                            startForm("email"),
                            'placeholder -> "E-mail",
                            'class -> "form-control",
                            '_label -> null
                        )

                        <input type="submit" class="btn btn-lg btn-green btn-block" value="@Messages("securesocial.signup.createAccount")">

                        <a class="btn btn-lg btn-block" href="@securesocial.core.providers.utils.RoutesHelper.login()">@Messages("securesocial.signup.cancel")</a>

                    </fieldset>
                </form>
            }
    </div>

}{
    <link href="@routes.Assets.at("stylesheets/plugins/bootstrap-social/bootstrap-social.css")" rel="stylesheet">
}