@(startForm:Form[String])(implicit request: RequestHeader, lang: Lang)
@import securesocial.core.IdentityProvider
@import play.api.Play
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(views.html.barnabasTextField.f) }


@main("Reset Password"){
    <div class="container">
        @views.html.authFormContainer("Reset Password"){
            <form accept-charset="UTF-8" role="form" action="@securesocial.core.providers.utils.RoutesHelper.handleStartResetPassword().absoluteURL(IdentityProvider.sslEnabled)" method="POST">

                <fieldset>

                    @helper.inputText(
                        startForm("email"),
                        'placeholder -> "E-mail",
                        'class -> "form-control",
                        '_label -> null
                    )

                    <input type="submit" class="btn btn-lg btn-green btn-block" value="@Messages("securesocial.password.reset")">

                    <a class="btn btn-lg btn-block" href="@securesocial.core.providers.utils.RoutesHelper.login()">@Messages("securesocial.signup.cancel")</a>

                </fieldset>
            </form>

        }
    </div>

}{
    <link href="@routes.Assets.at("stylesheets/plugins/bootstrap-social/bootstrap-social.css")" rel="stylesheet">
}{ }