@(subDiscipline:models.core.SubDiscipline, pageUser:User)(implicit user:User)

<div data-link="@routes.UserProfile.favoriteSubDiscipline(subDiscipline.id)" class="relationship-action sub-discipline-action multi-action @if(pageUser.isInterestedInSubDiscipline(subDiscipline = subDiscipline)){show-first}">
    <button class="sub-discipline-action first btn btn-default ">Undo favorite</button>
    <button class="sub-discipline-action second btn btn-default "><i class="fa fa-star"></i>Favorite</button>
</div>