@(pageUser:User)(implicit user:User)

<div class="tab-pane fade in" id="changePassword">
    <h3>Change Password:</h3>
    <form role="form">
        <div class="form-group">
            <label>Old Password</label>
            <input type="password" class="form-control" value="">
        </div>
        <div class="form-group">
            <label>New Password</label>
            <input type="password" class="form-control" value="">
        </div>
        <div class="form-group">
            <label>Re-Type New Password</label>
            <input type="password" class="form-control" value="">
        </div>
        <button type="submit" class="btn btn-default">Update Password</button>
        <button class="btn btn-green">Cancel</button>
    </form>
</div>