@( pageUser:User)(implicit user:User)

<div class="tab-pane fade in" id="updateSubdiscipline">
    <div class="row">
        <h3>Sub Discipline</h3>
    </div>

    <div class="row extra-bottom-margin">

        <h4>Current Sub Discipline</h4>
        <select class="sub-discipline-selection">
            @for(subDiscipline <- user.subDisciplinesOfInterest){
                <option data-url="@routes.UserProfile.updateSubDiscipline(subDiscipline.id)" value="@subDiscipline.id" @if(subDiscipline == user.currentSubDiscipline){selected}>@subDiscipline.title</option>
            }
        </select>
    </div>

    <div class="row">
        <div class="portlet portlet-default">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h4>Select your favorite sub disciplines</h4>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="explore-researcher data-table table table-striped table-bordered table-hover table-green">
                        <thead>
                            <tr>
                                <th>Sub Discipline</th>
                                <th>Discipline</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                                @for( subDiscipline <- Search.subDisciplines){
                                    <tr class="@if(user.currentSubDiscipline == subDiscipline){success }">
                                        <td>@subDiscipline.title</td>
                                        <td>@subDiscipline.discipline.title</td>
                                        <td>
                                            @views.html.utils.user.favoriteSubDiscipline(subDiscipline,pageUser)
                                        </td>
                                    </tr>
                                }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>