@( pageUser:User)(implicit user:User)

 <div class="tab-pane fade" id="profile-settings">
    <div class="row">
        <div class="col-sm-3">
            <ul id="userSettings" class="nav nav-pills nav-stacked">
                <li class="active"><a href="#basicInformation" data-toggle="tab"><i class="fa fa-user fa-fw"></i> Basic Information</a>
                </li>
                <li><a href="#profilePicture" data-toggle="tab"><i class="fa fa-picture-o fa-fw"></i> Profile Picture</a>
                </li>
                <!--li><a href="#changePassword" data-toggle="tab"><i class="fa fa-lock fa-fw"></i> Change Password</a>
                </li-->
            </ul>
        </div>
        <div class="col-sm-9">
            <div id="userSettingsContent" class="tab-content">

                @views.html.utils.user.basicInformation(pageUser = pageUser)
                @views.html.utils.user.profilePictureUpdate(pageUser = pageUser)
                @*@views.html.utils.user.passwordChange(pageUser = pageUser)*@


            </div>
        </div>
    </div>
</div>