@(evaluation:models.core.IdeaUser)(implicit user:User)
@import core.ResourceType
<div id="wrapper">

    <!-- begin MAIN PAGE CONTENT -->
<div id="page-wrapper">

    <div class="page-content evaluate-idea">

        <div class="page-fixed-menu">
            @views.html.utils.flagInappropriate(evaluation)
            <a href="@routes.EvaluateIdeas.evaluateIdeas" class="btn btn-default next-action floating-action">Next(F2)</a>
        </div>


        <div class="row">
            <div class="col-lg-12">
                <div class="page-title">
                    <h1>Idea Evaluation
                        <small>Give your feedback. Contribute.</small>
                    </h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">

                @views.html.utils.ideaDescription(evaluation.idea)

                <div class="row">
                    <div class="col-md-12">
                        @*Resources*@
                        @views.html.utils.resourcesTable(evaluation)
                        @*End Resources*@
                    </div>
                </div>

            </div>

            <div class="col-md-4">

                <div class="row extra-bottom-margin">

                    <div class="row extra-bottom-margin">
                        @views.html.utils.votePool(evaluation)
                    </div>


                    <div class="extra-bottom-margin col-md-12 additional-comments">
                        <h4>Why or Why not? Any additional comments (optional)</h4>
                        <form class="submit-discussion-form" action="@routes.EvaluateIdeas.updateDiscussion" method="POST">

                            <input type="hidden" name="ideaUserId" value="@evaluation.id">

                            <input class="anonymous-input" type="hidden" name="anonymous" value="false">

                            <div class="summernote">
                                <textarea name="description" class="additional-feedback-rich-textarea">
                                        @evaluation.discussion.map(_.description)
                                </textarea>
                                <div class="appendable-btn-group btn-group">
                                    <button type="submit" data-anonymous="false" class="submit-discussion btn btn-green btn-sm btn-small">
                                        <i class="fa fa-save"></i> Submit Comments</button>
                                </div>
                                <div class="appendable-btn-group btn-group">
                                    <button type="submit" data-anonymous="true" class="submit-discussion btn btn-dark-blue btn-sm btn-small">
                                        <i class="fa fa-save"></i> Submit Comments Anonymously</button>
                                </div>
                            </div>

                        </form>

                    </div>

                    <div class="col-md-12">
                        <h4>Interests?</h4>

                        @views.html.utils.follow(evaluation)
                        @views.html.utils.collaborate(evaluation)
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
</div>