@(searchResults:List[models.core.Interfaces.Searchable] = List.empty[models.core.Interfaces.Searchable], currentPageIndex:Int, lastPageIndex:Int, numberOfResults:Int, query:String)(implicit user:User)
@import views.html._


<!-- begin MAIN PAGE CONTENT -->
<div id="page-wrapper">

    <div class="page-content">

        <!-- begin PAGE TITLE ROW -->
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title">
                    <h1>
                        Search Results
                        <small>@{currentPageIndex*10-9}-@Math.min(currentPageIndex*10,numberOfResults) of @numberOfResults</small>
                    </h1>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <!-- end PAGE TITLE ROW -->

        <div class="row">
            <div class="col-lg-12">
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control" value="@query">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
                <h4>Search Results for <strong>"@query"</strong>
                    <span class="text-green">(@numberOfResults Results)</span>
                </h4>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <br>
        <div class="row">
            <div class="col-lg-8">


                @for(searchResult <- searchResults){
                    @utils.search.searchResultItem(searchResult)
                }

                @utils.search.paginationControl(searchResults, currentPageIndex, lastPageIndex, query)

            </div>
            <!-- /.col-lg-6 -->
        </div>
        <!-- /.row -->

    </div>
    <!-- /.page-content -->

</div>
<!-- /#page-wrapper -->
<!-- end MAIN PAGE CONTENT -->
