@()
<div id="wrapper">

    <!-- begin MAIN PAGE CONTENT -->
<div id="page-wrapper">

    <div class="page-content submit-idea">

        <div class="row">
            <div class="col-lg-12">
                <div class="page-title">
                    <h1>Submit an idea
                        <small>Have a feedback on your idea!</small>
                    </h1>
                </div>
            </div>
        </div>



        <div class="row  extra-bottom-margin">
            <div class="form-group">
                <div class="col-md-12">
                    <h4>Give your idea a short description/title</h4>
                    <input type="text" class="form-control" maxlength="25" id="thresholdMax" placeholder="Start typing..." />
                </div>
            </div>
        </div>

        <div class="row extra-bottom-margin">
            <div class="form-group">
                <div class="col-md-12">
                    <h4>Provide a londer description of your idea(include any diagrams/images that might be helpful)</h4>
                    <div class="submit-idea-rich-textarea" >Submit Your Ideas here!</div>
                </div>
            </div>
        </div>

        <div class="row extra-bottom-margin">
            <div class="form-group">
                <div class="col-md-12">
                    <div class="row bottom-line header-options">
                        <h4 class="col-md-7">Select related topic(s) or area(s) of interest(optional)</h4>
                        <div class="col-md-5 input-group">
                            <input type="text" class="form-control" placeholder="search or add">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Add</button>
                            </span>
                        </div>
                    </div>
                    <div class="row checkboxes">

                        <div class="topic-checkbox col-xs-12 col-md-4 col-lg-3">
                            <label>
                                <input type="checkbox" value="">Checkbox 1
                            </label>
                        </div>
                        <div class="topic-checkbox col-xs-12 col-md-4 col-lg-3">
                            <label>
                                <input type="checkbox" value="">Checkbox 1
                            </label>
                        </div>
                        <div class="topic-checkbox col-xs-12 col-md-4 col-lg-3">
                            <label>
                                <input type="checkbox" value="">Checkbox 1
                            </label>
                        </div>
                        <div class="topic-checkbox col-xs-12 col-md-4 col-lg-3">
                            <label>
                                <input type="checkbox" value="">Checkbox 1
                            </label>
                        </div>
                        <div class="topic-checkbox col-xs-12 col-md-4 col-lg-3">
                            <label>
                                <input type="checkbox" value="">Checkbox 1
                            </label>
                        </div>
                        <div class="topic-checkbox col-xs-12 col-md-4 col-lg-3">
                            <label>
                                <input type="checkbox" value="">Checkbox 1
                            </label>
                        </div>
                        <div class="topic-checkbox col-xs-12 col-md-4 col-lg-3">
                            <label>
                                <input type="checkbox" value="">Checkbox 1
                            </label>
                        </div>
                        <div class="topic-checkbox col-xs-12 col-md-4 col-lg-3">
                            <label>
                                <input type="checkbox" value="">Checkbox 1
                            </label>
                        </div>
                        <div class="topic-checkbox col-xs-12 col-md-4 col-lg-3">
                            <label>
                                <input type="checkbox" value="">Checkbox 1
                            </label>
                        </div>
                        <div class="topic-checkbox col-xs-12 col-md-4 col-lg-3">
                            <label>
                                <input type="checkbox" value="">Checkbox 1
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row extra-bottom-margin">
            <div class="form-group">
                <div class="col-md-12">
                    <h4 class="bottom-line">Ready to go?</h4>
                    <button type="submit" class="btn btn-lg btn-default">Submit you idea</button>
                </div>
            </div>
        </div>

    </div>
        <!-- /.page-content -->
</div>
    <!-- /#page-wrapper -->
    <!-- end MAIN PAGE CONTENT -->

</div>
<!-- /#wrapper -->