@(elements: helper.FieldElements)
@inputType = @{ elements.args.toMap.get('type).map(_.toString).getOrElse("text") }

<div class="form-group @if(elements.hasErrors) {has-error}">
    <label for="@elements.id" class="control-label">@elements.label</label>
    <div class="">
        <input class="form-control" type="@inputType" id="@elements.id" name="@elements.field.name" value="@elements.field.value" @toHtmlArgs(elements.args.filter(arg => !arg._1.name.startsWith("_") && arg._1 != 'id).toMap)>
        @if( elements.hasErrors ) {
            <span class="help-block"><i class="fa fa-warning"></i> @elements.errors(elements.lang).mkString(", ")</span>
        }
    </div>
</div>