@(title: String)(content: Html)(headers:Html)(pageLevelScripts:Html)

@import play.api.Play

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@title - @Play.current.configuration.getString("application.name")</title>

        <!-- GLOBAL STYLES -->
    <link href="@routes.Assets.at("stylesheets/plugins/bootstrap/css/bootstrap.css")" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic' rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel="stylesheet" type="text/css">
    <link href='http://code.jquery.com/ui/1.11.0-beta.2/themes/smoothness/jquery-ui.css' rel="stylesheet" type="text/css">
    <link href="@routes.Assets.at("icons/font-awesome/css/font-awesome.min.css")" rel="stylesheet">

    <!-- PAGE LEVEL PLUGIN STYLES -->
    @headers

        <!-- THEME STYLES -->
    <link href="@routes.Assets.at("stylesheets/style.css")" rel="stylesheet">
    <link href="@routes.Assets.at("stylesheets/plugins.css")" rel="stylesheet">

    <!-- RICH TEXT EDITOR -->
    <link href="@routes.Assets.at("stylesheets/plugins/messenger/messenger.css")" rel="stylesheet">
    <link href="@routes.Assets.at("stylesheets/plugins/messenger/messenger-theme-flat.css")" rel="stylesheet">
    <link href="@routes.Assets.at("stylesheets/plugins/messenger/messenger-spinner.css")" rel="stylesheet">
    <link href="@routes.Assets.at("stylesheets/plugins/summernote/summernote.css")" rel="stylesheet">
    <link href="@routes.Assets.at("stylesheets/plugins/summernote/summernote-bs3.css")" rel="stylesheet">

        <!--[if lt IE 9]>
    <script src="@routes.Assets.at("javascripts/html5shiv.js")"></script>
    <script src="@routes.Assets.at("javascripts/respond.min.js")"></script>
    <![endif]-->

</head>
<body >

    @content

    <!-- GLOBAL SCRIPTS -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0-beta.2/jquery-ui.js"></script>
    <script src="@routes.Assets.at("javascripts/plugins/bootstrap/bootstrap.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/plugins/slimscroll/jquery.slimscroll.min.js")"></script>

    <script src="@routes.Assets.at("javascripts/plugins/summernote/summernote.js")"></script>
    <script src="@routes.Assets.at("javascripts/plugins/messenger/messenger.js")"></script>
    <script src="@routes.Assets.at("javascripts/plugins/messenger/messenger-theme-flat.js")"></script>


    <!-- HISRC Retina Images -->
    <script src="@routes.Assets.at("javascripts/plugins/hisrc/hisrc.js")"></script>

    <script src="@routes.Assets.at("javascripts/barnabas.js")"></script>

        <!-- PAGE LEVEL PLUGIN SCRIPTS -->
        @pageLevelScripts
        <!-- THEME SCRIPTS -->
    <script src="@routes.Assets.at("javascripts/flex.js")"></script>

</body>

</html>
