@(title: String)(content: Html)(headers:Html)(pageLevelScripts:Html)(implicit user:User)

@main(title){

    @sidebar()

    @content
}{
    @headers
}{

    <script src='@routes.Assets.at("javascripts/plugins/popupoverlay/jquery.popupoverlay.js")' ></script>
    <script src='@routes.Assets.at("javascripts/plugins/popupoverlay/defaults.js")' ></script>

    <!-- Logout Notification Box -->
    <div id="logout">
        <div class="logout-message">
            <img class="img-circle img-logout" src="@user.avatarUrl.getOrElse(routes.Assets.at("images/profile-placeholder.png"))" alt="">
            <h3>
                <i class="fa fa-sign-out text-green"></i> Ready to go?
            </h3>
            <p>Select "Logout" below if you are ready<br> to end your current session.</p>
            <ul class="list-inline">
                <li>
                    <a href="/logout" class="btn btn-green">
                        <strong>Logout</strong>
                    </a>
                </li>
                <li>
                    <button class="logout_close btn btn-green">Cancel</button>
                </li>
            </ul>
        </div>
    </div>
    <!-- /#logout -->
    <!-- Logout Notification jQuery -->
    <script src="@routes.Assets.at("javascripts/plugins/popupoverlay/logout.js")"></script>

    @pageLevelScripts
}