@()(implicit user:User)
<!-- begin SIDE NAVIGATION -->
    <nav class="navbar-side" role="navigation">
        <div class="navbar-collapse sidebar-collapse collapse">
            <ul id="side" class="nav navbar-nav side-nav">
                    <!-- begin SIDE NAV USER PANEL -->
                <li class="side-user hidden-xs">
                    <img class="img-circle" src="@user.avatarUrl.getOrElse(routes.Assets.at("images/profile-placeholder.png"))" alt="">
                    <p class="welcome">
                        <i class="fa fa-key"></i> Logged in as
                    </p>
                    <p class="name tooltip-sidebar-logout">
                            @user.firstName
                        <span class="last-name">@user.lastName</span> <a style="color: inherit" class="logout_open" href="#logout" data-toggle="tooltip" data-placement="top" title="Logout"><i class="fa fa-sign-out"></i></a>
                    </p>
                    <div class="clearfix"></div>
                </li>
                    <!-- end SIDE NAV USER PANEL -->
                    <!-- begin SIDE NAV SEARCH -->
                <li class="nav-search">
                    <form role="form" action="@routes.Search.searchByPost" method="POST">
                        <input type="search" class="form-control" name="query" placeholder="Search...">
                        <button class="btn">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>

                </li>
                    <!-- end SIDE NAV SEARCH -->

                <li>
                    <a href="@routes.Application.index()">
                        <i class="fa fa-dashboard"></i> Dashboard
                    </a>
                </li>

                <li>
                    <a href="@routes.EvaluateIdeas.evaluateIdeas()">
                        <i class="fa fa-heart"></i> Evaluate Ideas
                    </a>
                </li>

                <li>
                    <a href="@routes.Application.submitIdeas()">
                        <i class="fa fa-laptop"></i> Submit an Idea
                    </a>
                </li>

                <li>
                    <a href="@routes.Application.getInspired()">
                        <i class="fa fa-lightbulb-o"></i> Get Inspired
                    </a>
                </li>

            </ul>
                <!-- /.side-nav -->
        </div>
            <!-- /.navbar-collapse -->
    </nav>
    <!-- /.navbar-side -->
    <!-- end SIDE NAVIGATION -->
